# Object Oriented Programming

In [5]:
class Student:
    """A doc string"""
    pass

In [6]:
Student, type(Student)

(__main__.Student, type)

In [7]:
Student.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': 'A doc string',
              '__dict__': <attribute '__dict__' of 'Student' objects>,
              '__weakref__': <attribute '__weakref__' of 'Student' objects>})

In [8]:
class Test:
    # constructor 
    def __new__(self):
        print("Object created ")
        
    # destructor 
    def __del__(self): 
        print("object Destroyed")

In [9]:
Test

__main__.Test

In [10]:
t = Test()

Object created

In [11]:
del t

In [12]:
class Test:
    # Initializer
    def __init__(self):
        print("Object Initialized ")
    
    def showmsg(self):
        print("Hello world ")

In [13]:
t = Test()

Object Initialized

In [14]:
t

In [15]:
t.showmsg()

Hello world

In [16]:
class First:
    def __init__(this):
        print("Initialized")
        
    def pushmsg(this):
        print("Message pushed on stack")

In [17]:
f = First()

Initialized

In [18]:
f.pushmsg()

Message pushed on stack

In [19]:
class Test:
    # Initializer
    def __init__(self):
        print("Object Initialized ")
    
    def showmsg(self):
        print("Hello world ")

In [20]:
t = Test()

Object Initialized

In [22]:
Test.showmsg(t), t.showmsg()

Hello world

In [23]:
class Student:
    
    def __init__(self,roll,name,eng,hindi,science):
        self.roll = roll 
        self.name = name 
        self.eng = eng
        self.hindi = hindi 
        self.science = science 
        
    def show_marks(self):
        return self.eng,self.hindi,self.science 
    
    def average(self):
        return (self.eng + self.hindi + self.science)/3

In [24]:
s1 = Student()

TypeError: Student.__init__() missing 5 required positional arguments: 'roll', 'name', 'eng', 'hindi', and 'science'

In [26]:
s1 = Student(101,'Rahul',60,40,50)
s2 = Student(102,'Amit',80,70,60)

In [27]:
s1

In [28]:
s2

In [29]:
s1.show_marks()

(60, 40, 50)

In [30]:
s2.show_marks()

(80, 70, 60)

In [31]:
s1.average()

50.0

In [32]:
s2.average()

70.0

In [33]:
s1.__dict__

{'roll': 101, 'name': 'Rahul', 'eng': 60, 'hindi': 40, 'science': 50}

In [34]:
s2.__dict__

{'roll': 102, 'name': 'Amit', 'eng': 80, 'hindi': 70, 'science': 60}

# __repr__ and __str__

`__repr__` is object representation 

`__str__` is string representation of our object

In [38]:
class Animal:
    def __init__(self,name,age):
        self.name = name 
        self.age = age 
        
#     def __repr__(self):
#         print('__repr__ called ')

In [39]:
a = Animal('arrow',4)

In [40]:
a

In [49]:
class Animal:
    def __init__(self,name,age):
        self.name = name 
        self.age = age 
        
    def __repr__(self):
#         print('__repr__ called ')
        return f'Animal(name={self.name},age={self.age})'

In [50]:
a = Animal('arrow',4)
b = Animal('Bow',3)

In [51]:
a

Animal(name=arrow,age=4)

In [52]:
b

Animal(name=Bow,age=3)

In [53]:
print(a)

Animal(name=arrow,age=4)

In [54]:
print(b)

Animal(name=Bow,age=3)

In [55]:
class Animal:
    def __init__(self,name,age):
        self.name = name 
        self.age = age 
        
    def __repr__(self):
        return f'Animal(name={self.name},age={self.age})'

    def __str__(self):
        return f'Animal({self.name})'

In [56]:
a = Animal('arrow',4)
b = Animal('Bow',3)

In [57]:
a

Animal(name=arrow,age=4)

In [58]:
print(a)

Animal(arrow)

In [59]:
class Cube:
    
    def __init__(self,n):
        self.n = n 
        
    def getcube(self):
        return self.n**3

In [60]:
obj1 = Cube(3)

In [61]:
obj1.getcube()

27

`__call__`

In [62]:
class Cube:
    
    def __init__(self,n):
        self.n = n 
        
    def __call__(self):
        return self.n**3

In [63]:
c = Cube(2)

In [64]:
c.__call__()

8

In [65]:
c()

8

In [66]:
c.__dict__

{'n': 2}

# Sharebale class attributes

In [78]:
class Company:
    n = 'TCS'
    location = 'Bangalore'
    
    def __init__(self,emp_code,emp_name):
        self.code = emp_code 
        self.name = emp_name 
        
    def __repr__(self):
        return 'Company(empname = {})'.format(self.name)
    
    def get_details(self):
        return self.code,self.name

In [79]:
Company

__main__.Company

In [80]:
Company.__dict__

mappingproxy({'__module__': '__main__',
              'n': 'TCS',
              'location': 'Bangalore',
              '__init__': <function __main__.Company.__init__(self, emp_code, emp_name)>,
              '__repr__': <function __main__.Company.__repr__(self)>,
              'get_details': <function __main__.Company.get_details(self)>,
              '__dict__': <attribute '__dict__' of 'Company' objects>,
              '__weakref__': <attribute '__weakref__' of 'Company' objects>,
              '__doc__': None})

In [81]:
Company.__dict__['n']

'TCS'

In [71]:
Company.__dict__['location']

'Bangalore'

In [82]:
e1 = Company(1,'Rahul')
e2 = Company(2,'Ujjwal')

In [83]:
print(e1)

Company(empname = Rahul)

In [85]:
e1.name, e1.n

('Rahul', 'TCS')

In [77]:
e1.location, e2.location

('Bangalore', 'Bangalore')

In [86]:
e2.n

'TCS'

In [87]:
isinstance

In [88]:
isinstance(e1,Company)

True

In [89]:
isinstance(e2,Company)

True

In [90]:
isinstance(e1,Cube)

False

In [91]:
isinstance(e1,object)

True

In [92]:
isinstance(2,object)

True

In [93]:
isinstance("rahu",object)

True

In [94]:
isinstance(False,object)

True

write a program that will open a file , create methods to write to the file and read from the file .. Using 
class